<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="MinimumSearchStringLength" value="3"/>
    <add key="GoogleKey" value="AIzaSyDp4756MODkmIKp0R4AqIYADNWKv-qbYNE"/>
    <add key="LocationsTemplateUrl" value="https://maps.googleapis.com/maps/api/place/findplacefromtext/xml?input={0}&amp;inputtype=textquery&amp;fields=formatted_address,name,geometry&amp;language={1}&amp;key={2}"/>
    <add key="DirectionsTemplateUrl" value="https://www.google.com/maps/dir/?api=1&amp;origin={0}&amp;destination={1}&amp;key={2}&amp;waypoints={3}"/>
    <add key="DirectionsCheckTemplateUrl" value="https://maps.googleapis.com/maps/api/directions/xml?origin={0}&amp;destination={1}&amp;key={2}&amp;waypoints={3}"/>
    <add key="SearchHistoryLocationString" value="history.txt"/>
    <add key="UseLocalSearchRepository" value="1"/>
  </appSettings>
</configuration>