<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="GoogleKey" value="AIzaSyDp4756MODkmIKp0R4AqIYADNWKv-qbYNE"/>
    <add key="LocationsQueryString" value="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={0}&amp;inputtype=textquery&amp;fields=formatted_address,name,geometry&amp;lang={1}&amp;key={2}"/>
  </appSettings>
</configuration>